:root {
  /* 主色调 - 包括导航栏等内容 */
  --Tool-Main: #333;
  /*  */
  --Tool-Back: #ffffff;

  --Tool-Card-Back: #fff;

  --User-Main-Color: slateblue;

  --Forum-Main-Color: #1b2838;
  --Forum-Content-Color: #fff;
  --Forum-Grey: #e4e6eb;

  --Cloudea-Font-Black: #252933;
  --Cloudea-Font-Grey: #8a919f;
  --Cloudea-Font-Hover-Blue: #1171ee;
}
